@use '../../styles//base';

.list {
    font-size: 1.25rem;
}

.menu-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: base.$box-shadow;
}

.menu {
    display: flex;
    height: 60px;
    padding: 5px 10px;
    border-bottom: 2.5px solid base.$border-color;
    background-color: base.$bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter > *, .new{
    text-align: center;
    margin-right: 5px;
    padding: 5px 10px;
    min-width: 50px;
    border-radius: 25px;
    cursor: pointer;
    border: 2.5px solid base.$border-color;
    transition: background-color 0.5s;
    display: inline-block;
}

.filter > *:hover, .new:hover {
    background-color: base.$highlight;
}

.notes {
    width: 90%;
    margin: 0 auto;
    // border: 2.5px solid base.$border-color;
    // border-top: none;
    background-color: base.$bg-color;
    // box-shadow: base.$box-shadow;
}

.note {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2.5px solid base.$border-color;
    padding-left: 25px;
    transition: background-color 0.5s;
}

.note:hover {
    background-color: base.$highlight;
    cursor: pointer;
}

.note:last-child {
    border-bottom: none;
}

.delete {
    width: 40px;
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
}

.delete:hover {
    background-color: rgb(224, 0, 0);
}