@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

$bg-color: white;
$accent-color: rgb(255, 123, 0);
$bg-font-color:  rgb(0, 0, 0);;
$accent-font-color: white;
$main-font: 'Kanit', sans-serif;
$highlight:  rgb(253, 162, 77);
$box-shadow: 5px 5px 5px rgba(78, 78, 78, 0.527);
$border-color: rgb(119, 119, 119);
