@use '../../styles/base';

.header {
    background-color: base.$accent-color;
    color: base.$accent-font-color;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.auth-links {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.25rem;
}

.auth-links > li {
    margin-left: 15px;
    cursor: pointer;
}

.auth-links > li:hover {
    text-decoration: underline;
}